AddHandler php-script .php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>
<FilesMatch "\.sqlite($|-)">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>
